*{
    font-family: 'Newsreader', serif;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

header img{
    height: 80px;
    padding: 20px;
}

button {
    display: inline-block;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    border: 4px #cccccc; 
    border-radius: 10px; 
    font-size: 16px;
}

button:hover{
    background-color: black;
    color: white;
}

main{
    padding-top: 10px;
}

.amazon_link{
    padding: 4px 25px;
    background: rgb(248, 198, 55);
    border: 1px solid rgb(248, 198, 55);
    color: black;
    border-radius: 4px;
    text-decoration:none;
}

.log_link{
    padding: 0;
    background: none;
    border: none;
    color: black;
    border-radius: 4px;
    text-decoration:none;
    align-self: center;
}

.log{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
}

.log button{
    padding: 10px;
}

input[type='submit']{
    background-color: black;
    color: white;
}

.list_card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 5px;
}



.books img {
    height: 250px;
}

.books h3{
    font-weight: bold;
}

.form{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    display: flex;
    z-index: 1;
}


#list{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#dashboard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#fav_list{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}

#btn_back{
    margin-bottom: 20px;
    background-color: red;
    color: white;
    display: none;
}

#btn_back_fav{
    display: none;
}

#add_fav{
    background-color: white;
}

#fav{
    background-color: black;
    color: white;
}
#fav:hover{
    background-color: white;
    color: black;
}


@media screen and (min-width: 768px) {
    header img {
        height: 170px;
    
    }

    #dashboard{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        
    }

    #fav_list{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .list_card{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        width: 45%;
    }

    #list{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (min-width: 1366px) {
    header img {
        /* revisar imagen*/
        height: 120px;
    
    }

    #dashboard{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    header{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .log_link{
        width: 120px;
    }

    .list_card{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        width: 20%;
    }

    #list{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    #fav_list{
        flex-direction: row;
        gap: 10px;
    }
}